<div class="bestus flex-fill">
    <div class="d-flex justify-content-center">
        <h4><b>Best Members</b></h4>
    </div>
    <div class="bestus__item">
        <div class="container-fluid">
            <div class="row">
                <h6><a href="{% url 'us_det' 1 %}">User_1</a></h6>
            </div>
        </div>
    </div>
    <div class="bestus__item">
        <div class="container-fluid">
            <div class="row">
                <h6><a href="{% url 'us_det' 2 %}">User_2</a></h6>
            </div>
        </div>
    </div>
    <div class="bestus__item">
        <div class="container-fluid">
            <div class="row">
                <h6><a href="{% url 'us_det' 3 %}">User_3</a></h6>
            </div>
        </div>
    </div>
    <div class="bestus__item">
        <div class="container-fluid">
            <div class="row">
                <h6><a href="{% url 'us_det' 4 %}">User_4</a></h6>
            </div>
        </div>
    </div>

</div>