{% load static %}
<div class="topic_list">
    <div class="topic-list__main_item">
        <div class="container-fluid navigation">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <img src="{% static 'imgs/user.png' %}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="row">
                        <button type="button" class="btn mr-2 h-25 btn-sm btn-outline-warning"><</button> <h5 > 0 </h5> <button type="button" class="btn ml-2 h-25 btn-sm btn-outline-warning">></button>
                    </div>
                </div>
                <div class="col-8">
                     <div class="row d-flex justify-content-center">
                        <h3><b>Django не видит файлы static</b></h3>
                    </div>
                    <div class="row">
                        <h5>Задача организации, в особенности же повышение уровня гражданского сознания в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что постоянное информационно-техническое обеспечение нашей деятельности способствует повышению актуальности модели развития? Дорогие друзья, реализация намеченного плана развития в значительной степени обуславливает создание соответствующих условий активизации! Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствующей насущным потребностям!<br></h5>
                    </div>
                    <div class="row">
                        <h6> Tags: <a href="{% url 'tag_news' "python"%}">Python</a>, <a href="{% url 'tag_news' "django"%}">Django</a> </h6>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <h4><b>Answers</b></h4><br>
            </div>
            <div class="row mt-0">
                <hr width="500" size="2" color="#ff8d00" class="flex-fill mt-0" />
            </div>
        </div>
    </div>


    <div class="topic-list__item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <img src="{% static 'imgs/user.png' %}" class="img-fluid" alt="Responsive image" style="width: 100px; height: 100px">
                    </div>
                    <div class="row">
                        <button type="button" class="btn mr-2 h-25 btn-sm btn-outline-warning"><</button> <h5 > 0 </h5> <button type="button" class="btn ml-2 h-25 btn-sm btn-outline-warning">></button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <h6> Таким образом, выбранный нами инновационный путь позволяет выполнить важнейшие задания по разработке новых предложений! Равным образом реализация намеченного плана развития позволяет выполнить важнейшие задания по разработке существующих финансовых и административных условий. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь обеспечивает широкому кругу специалистов участие в формировании системы масштабного изменения ряда параметров?<br></h6>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <hr width="500" size="2" color="#ff8d00" class="flex-fill mt-0" />
            </div>
        </div>
    </div>

        <div class="topic-list__item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <img src="{% static 'imgs/user.png' %}" class="img-fluid" alt="Responsive image" style="width: 100px; height: 100px">
                    </div>
                    <div class="row">
                        <button type="button" class="btn mr-2 h-25 btn-sm btn-outline-warning"><</button> <h5 > 0 </h5> <button type="button" class="btn ml-2 h-25 btn-sm btn-outline-warning">></button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <h6> Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание дальнейших направлений развития проекта! Соображения высшего порядка, а также повышение уровня гражданского сознания позволяет выполнить важнейшие задания по разработке экономической целесообразности принимаемых решений? С другой стороны социально-экономическое развитие играет важную роль в формировании дальнейших направлений развитая системы массового участия.</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <hr width="500" size="2" color="#ff8d00" class="flex-fill mt-0" />
            </div>
        </div>
    </div>

        <div class="topic-list__item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <img src="{% static 'imgs/user.png' %}" class="img-fluid" alt="Responsive image" style="width: 100px; height: 100px">
                    </div>
                    <div class="row">
                        <button type="button" class="btn mr-2 h-25 btn-sm btn-outline-warning"><</button> <h5 > 0 </h5> <button type="button" class="btn ml-2 h-25 btn-sm btn-outline-warning">></button>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <h6> Не следует, однако, забывать о том, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание дальнейших направлений развития проекта! Соображения высшего порядка, а также повышение уровня гражданского сознания позволяет выполнить важнейшие задания по разработке экономической целесообразности принимаемых решений? С другой стороны социально-экономическое развитие играет важную роль в формировании дальнейших направлений развитая системы массового участия.

Не следует, однако, забывать о том, что сложившаяся структура организации требует определения и уточнения дальнейших направлений развития проекта. Не следует, однако, забывать о том, что реализация намеченного плана развития требует определения и уточнения экономической целесообразности принимаемых решений! Практический опыт показывает, что постоянное информационно-техническое обеспечение нашей деятельности позволяет выполнить важнейшие задания по разработке форм воздействия! Дорогие друзья, выбранный нами инновационный путь играет важную роль в формировании всесторонне сбалансированных нововведений!</h6>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <hr width="500" size="2" color="#ff8d00" class="flex-fill mt-0" />
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Type your answer here..." aria-label="Answer" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Answer</button>
  </div>
</div>


</div>